*.jpeg !text !filter !merge !diff
*.bmp !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.iff !text !filter !merge !diff
*.dds !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.tiff !text !filter !merge !diff
*.pict !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.mov !text !filter !merge !diff
*.avi !text !filter !merge !diff
*.webm !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.aiff !text !filter !merge !diff
*.aif !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.flac !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.max !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.FBX !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.OBJ !text !filter !merge !diff
*.blend !text !filter !merge !diff
*.dae !text !filter !merge !diff
*.3ds !text !filter !merge !diff
*.unitypackage !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.a !text !filter !merge !diff
*.dylib !text !filter !merge !diff
*.lib !text !filter !merge !diff
*.prefab !text !filter !merge !diff
*.unity !text !filter !merge !diff
*.asset !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.so !text !filter !merge !diff
*.aar !text !filter !merge !diff
*.jar !text !filter !merge !diff
